VITE_URBAN_API=http://urban-api/api/v1
VITE_LLM_API=http://llm_api
VITE_LLM_RESTRICTIONS_API=http://restrictions_api

VITE_KEYCLOAK_AUTH_URL=http://keycloak
VITE_KEYCLOAK_AUTH_REALM=myrealm
VITE_KEYCLOAK_AUTH_CLIENT=urban-assistant

VITE_MAPBOX_TOKEN=token