@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-cabin: "Cabin", sans-serif;
}

@layer components {
  .disable-style {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  scrollbar-width: none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
